@import url("https://fonts.googleapis.com/css?family=Coming+Soon");
body {
  font-family: "Coming Soon", cursive;
  background-color: white;
  color: #124364;
  width: 100%; }
  body .container {
    width: 75%; }

.primary-navbar {
  background-color: #b6daf2; }
  .primary-navbar .title {
    color: #124364; }

