@using ACommunicator.Models
@using ACommunicator.Properties
@model IndexViewModel
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info" role="alert">@Resources.MetaCommunicatorModeInfoMessage</div>
    </div>
</div>

<div class="row">
    @foreach (var child in Model.EndUserList)
    {
        var viewModel = new EndUserItemViewModel
        {
            PicturePath = child.PicturePath,
            Username = child.Username,
            Name = child.Name,
            AUsers = child.AUsers,
            Id = child.Id,
            Options = child.Options,
            Action = "EditEndUserProfile",
            Controller = "User"
        };
        @Html.Partial("../User/EndUserItem", viewModel)
    }
</div>