@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

$primary-font : 'Coming Soon', cursive;

$primary-color: #3498DB;
$primary-color-lighter: lighten($primary-color, 30%);
$primary-color-darker: darken($primary-color, 30%);