@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

$primary-font : 'Coming Soon', cursive;

$primary-color: #3498DB;
$primary-color-lighter: lighten($primary-color, 30%);
$primary-color-darker: darken($primary-color, 30%);

$error-color: #bf1b1b;
$error-color-lighter: lighten($error-color, 30%);
$error-color-darker: darken($error-color, 30%);

$logo-height : 100px;
