@model ACommunicator.Models.OptionItemViewModel

<a href="@Url.Action(Model.Action, Model.Controller , new {optionId = Model.Id})" class="option-with-img img-md col-sm-2 col-xs-3">
    <img src="@Url.Content(Model.Image)" class="img-responsive img-md" runat="server" alt="@Model.Name" />
    <h4>@Model.Name</h4>
</a>