<div class="carousel-content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/imgs/img1.png" alt="Chania">
            </div>

            <div class="item">
                <img src="~/Content/imgs/img2.png" alt="Chania">
            </div>

            <div class="item">
                <img src="~/Content/imgs/img3.png" alt="Flower">
            </div>

            <div class="item">
                <img src="~/Content/imgs/img4.png" alt="Flower">
            </div>

            <div class="item">
                <img src="~/Content/imgs/img5.png" alt="Flower">
            </div>
        </div>
        
        <br/>
        <br/>
        
        @Html.ActionLink("Get File list","Option","Workflow", null, null)
    </div>
</div>
