@using ACommunicator.Models
@model EndUserIndexViewModel

@{
    Layout = "~/Views/Shared/_CommunicatorLayout.cshtml";
}

<div class="communicator-header">
    @Html.Partial("EndUserMenuItem", new EndUserItemViewModel
   {
       PicturePath = Model.EndUser.PicturePath,
       Username = Model.EndUser.Username,
       Name = "",
       AUsers = Model.EndUser.AUsers,
       Id = Model.EndUser.Id,
       Options = Model.EndUser.Options,
       Action = "EditEndUserProfile",
       Controller = "User"
   })
</div>
<div class="communicator-body">
   @Html.Partial("./../Workflow/Options", Model.Options)
</div>