@model ACommunicator.Models.IndexViewModel

<div class="row">
    @foreach (var child in Model.EndUserList)
    {
        <a href="@Url.Action("EndUserIdex", "User", new {endUserId = child.Id})" class="option-with-img img-md col-sm-4 col-xs-6">
            <img src="@Url.Content(child.PicturePath)" class="img-circle img-responsive img-md" runat="server" style="background: url(@Url.Content(child.PicturePath)); background-size: contain;" />
            <h4>@child.Name</h4>
        </a>
    }
</div>