@using ACommunicator.Helpers
@using ACommunicator.Models
@model IndexViewModel

@{
    var auser = Request.Cookies.Get(CookieHelper.AUserCookie)?.Value;
}

<div class="row">
    @foreach (var child in Model.EndUserList)
    {
        var viewModel = new EndUserItemViewModel
        {
            PicturePath = child.PicturePath,
            Username = child.Username,
            Name = child.Name,
            AUsers = child.AUsers,
            Id = child.Id,
            Options = child.Options,
            Action = "EndUserIndex",
            Controller = "User"
        };
        @Html.Partial("EndUserItem", viewModel)
    }
</div>
<script>
    ga('send', 'event', "AUserIndex", "@auser", "admin user", 10);
</script>